@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #c72c14;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.student-form {
  
  box-shadow: 8px 20px 65px 51px rgba(0,0,0,0.1);
  border-radius: 5px;
}
button,
select,

label{
  color: #282c34;
}
/* CSS code */
/* CSS code */
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-collapse: collapse;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c6e0f5;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #95c5ed;
}

@media screen and (max-width: 576px) {
  /* Responsive styles for screens smaller than 576px */
  table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  th,
  td {
    display: block;
    text-align: center;
    width: 100%;
  }

  th {
    text-align: center !important;
  }

  tbody tr {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
  }

  tbody td {
    display: inline-block;
    width: 100%;
    border-top: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  tbody td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 15px;
    text-align: left;
  }
}
